@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import "tailwindcss";

@theme inline {
  --font-sans: "Satoshi", sans-serif;
}

body {
  color: #171717;
  font-family: "Satoshi", sans-serif;
}
